<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- links -->

    <link rel="stylesheet" href="styles/style.css">

    <!-- scripts -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://kit.fontawesome.com/c85c87a3ad.js" crossorigin="anonymous"></script>
    <title>Pizza Delivery</title>

    <script>
        function sendDataToServer() {
            var orderItems = document.querySelectorAll('.order-item');

            // Проверяем, есть ли элементы .order-item на странице
            if (orderItems.length === 0) {
                console.log('Нет заказов для отправки на сервер');
                return; // Не отправляем пустой заказ на сервер
            }

            var customerId = document.querySelector('.customer-id').textContent.trim();
            var customerName = document.querySelector('.customer-name').textContent.trim();
            var userCommentElement = document.getElementById('user_comment');
            var customerComment = userCommentElement.value.trim();

            // Проверяем, является ли комментарий пустым
            if (customerComment === '') {
                customerComment = null;
            }

            var totalPrice = document.querySelector('.total__price').textContent;

            // Удаляем пробелы из имени клиента
            customerName = customerName.replace(/\s+/g, '');

            // Создаем массив с информацией о каждом элементе .order-item
            var orderDetails = Array.from(orderItems).map(item => {
                var orderName = item.querySelector('.order__information p').textContent.trim();
                var orderCount = item.querySelector('.order--count').textContent.trim();
                return {
                    orderName: orderName,
                    orderCount: parseInt(orderCount) // Преобразуем количество в число
                };
            });

            // Формируем объект данных о заказе
            var orderData = {
                customerId: customerId,
                customerName: customerName,
                customerComment: customerComment,
                orderDetails: orderDetails,
                orderPrice: totalPrice
            };

            // Отправляем данные на сервер
            $.ajax({
                type: 'POST',
                url: '/payment-section',
                contentType: 'application/json',
                data: JSON.stringify(orderData),
                success: function (response) {
                    var successNotification = document.createElement('div');
                    successNotification.textContent = 'Оплата прошла успешно. Спасибо за покупку!';
                    successNotification.classList.add('notification');

                    var notificationArea = document.querySelector('.notification-area');

                    notificationArea.appendChild(successNotification);

                    setTimeout(function () {
                        successNotification.remove();

                        setTimeout(function () {
                            location.reload();
                        }, 10);
                    }, 5000);
                },


            });
        }

    </script>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <!-- top image -->

        <article>
            <%- include('./partials/article__panel.ejs') %>
                <section>
                    <ul id="container__article-menu" class="list__unstyled article__top-menu">
                        <li class="container__article-menu__padding" href="#gunkan">
                            <a href="#gunkan" class="article__menu-text__padding">Гункан <i
                                    class="fas fa-fish pl-5"></i></a>
                        </li>
                        <li class="container__article-menu__padding" href="#appetizers">
                            <a href="#appetizers" class="article__menu-text__padding">Закуски <i
                                    class="fas fa-solid fa-french-fries pl-5"></i></a>
                        </li>
                        <li class="container__article-menu__padding" href="#pizza">
                            <a href="#pizza" class="article__menu-text__padding">Пицца <i
                                    class="fas fa-pizza-slice pl-5"></i></a>
                        </li>
                        <li class="container__article-menu__padding" href="#sushi">
                            <a href="#sushi" class="article__menu-text__padding">Роллы <i
                                    class="fas fa-fish pl-5"></i></a>
                        </li>
                        <li class="container__article-menu__padding" href="#fried">
                            <a href="#fried-rolls" class="article__menu-text__padding">Роллы жаренные <i
                                    class="fas fa-fish-cooked pl-5"></i></a>
                        </li>
                        <li class="container__article-menu__padding" href="#baked">
                            <a href="#baked-rolls" class="article__menu-text__padding">Роллы запеченные <i
                                    class="fas fa-fish-cooked pl-5"></i></a>
                        </li>
                        <li class="container__article-menu__padding" href="#sets">
                            <a href="#sets" class="article__menu-text__padding">Сеты <i
                                    class="fas fa-apple-crate pl-5"></i></a>
                        </li>
                        <li class="container__article-menu__padding" href="#drinks">
                            <a href="#drinks" class="article__menu-text__padding">Напитки <i
                                    class="fas fa-burger-soda pl-5"></i></a>
                        </li>
                        <div class="search">
                            <form role="search">
                                <div class="search__container">
                                    <input type="text" id="searchInput" class="search__menu">
                                    <button type="button" class="search__button" onclick="searchMenu()"><i
                                            class="fa-sharp fa-solid fa-magnifying-glass"
                                            style="color: black;"></i></button>
                                </div>
                            </form>
                        </div>
                    </ul>
                </section>
                <br>
                <br>
                <br>
                <br>

                <div class="notification-area"></div>

                <% if (userLoggedIn) { %>
                    <% if (user.role==="admin" ) { %>
                        <!-- Код для администратора -->
                        <% } else { %>
                            <a id="cart" class="menu__cart">
                                <div class="menu__cart--child">
                                    <h2>Корзина</h2>
                                    <div class="pl-5">
                                        <span class="total__price">0</span> <span>KZT</span>
                                    </div>
                                </div>
                            </a>
                            <% } %>
                                <% } else { %>
                                    <a id="cart" class="menu__cart">
                                        <div class="menu__cart--child">
                                            <h2>Корзина</h2>
                                            <div class="pl-5">
                                                <span class="total__price">0</span> <span>KZT</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% } %>

                                        <div id="myModal" class="modal">
                                            <div class="modal-content">
                                                <span class="close">&times;</span>
                                                <div class="payment-form">
                                                    <h2>Информация об оплате</h2>
                                                    <form id="paymentForm">
                                                        <div class="form-group">
                                                            <label for="cardNumber">Номер карты</label>
                                                            <input type="text" id="cardNumber"
                                                                placeholder="1234 5678 9012 3456" inputmode="numeric"
                                                                style="background-color: #fff; color: black !important;">
                                                        </div>
                                                        <div style="display: flex; justify-content: space-between;">
                                                            <div class="form-group">
                                                                <label for="cardExpiry">Срок действия</label>
                                                                <input type="text" id="cardExpiry" placeholder="MM/YY"
                                                                    inputmode="numeric"
                                                                    style="background-color: #fff; color: black !important;">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="cardCVC">CVC</label>
                                                                <input type="text" id="cardCVC" placeholder="CVC"
                                                                    inputmode="numeric"
                                                                    style="background-color: #fff; color: black !important;">
                                                            </div>
                                                        </div>
                                                        <button id="payment-button" onclick="sendDataToServer()"  class="button--buy" style="border-radius: 8px;" disabled>Оплатить</button>
                                                    </form>
                                                </div>
                                            </div>


                                        </div>
                                        <div id="drawer" class="drawer">
                                            <a id="closeDrawer"><i class="fa-solid fa-xmark fa-2x"></i></a>
                                            <div class="drawer__container">
                                                <div class="drawer__orders">
                                                    <h2 class="text-bold">Ваш Заказ</h2>
                                                </div>
                                                <div class="drawer__before--container">
                                                    <div class="drawer__comments">
                                                        <textarea id="user_comment" rows="4" cols="50"
                                                            maxlength="500"></textarea>
                                                    </div>

                                                    <% if (userLoggedIn) { %>
                                                        <div class="drawer__button">
                                                            <a id="myBtn" class="drawer__button--buy">Перейти к Оплате
                                                                <span><span class="total__price2">0</span>
                                                                    <span>KZT</span></span>
                                                            </a>
                                                        </div>
                                                        <% } else { %>
                                                            <div class="drawer__button">
                                                                <a href="login" class="drawer__button--buy"> Вы не
                                                                    зарегистрированы, нажмите чтобы Войти<i
                                                                        class="fa-solid fa-arrow-right"></i>
                                                                </a>
                                                            </div>
                                                            <% } %>
                                                </div>
                                            </div>
                                        </div>

                                        <% function displayNoItemsMessage() { %>
                                            <div>
                                                <h2 style="color: #969697;">Пока тут ничего нет...</h2>
                                            </div>
                                            <% } %>

                                                <% function generateDepartment(departmentId, departmentName) { %>
                                                    <article class="department" id="<%= departmentId %>">
                                                        <h2 class="department-text">
                                                            <%= departmentName %>
                                                        </h2>
                                                        <div class="menu-cards">
                                                            <% if (menu.length> 0) { %>
                                                                <% menu.forEach(({ _id, title, ingredients, price,
                                                                    image, menu__id })=> { %>
                                                                    <% if (menu__id===departmentId) { %>
                                                                        <% if (userLoggedIn) { %>
                                                                            <% if (user.role==="admin" ) { %>
                                                                                <a class="menu-card1 cancelToSelect">
                                                                                    <div class="menu-card__information">
                                                                                        <div class="text-bold">
                                                                                            <h2
                                                                                                class="menu-card__information-title">
                                                                                                <%= title %>
                                                                                            </h2>
                                                                                            <p
                                                                                                class="menu-card__information-ingredients">
                                                                                                <%= ingredients %>
                                                                                            </p>
                                                                                        </div>
                                                                                        <div class="menu_id"
                                                                                            style="display: none;"
                                                                                            hidden>
                                                                                            <%= _id %>
                                                                                        </div>
                                                                                        <div
                                                                                            class="menu-card__information-price text-bold">
                                                                                            <span>
                                                                                                <%= price %> KZT
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <% if (userLoggedIn) { %>
                                                                                        <% if (user.role==="admin" ) {
                                                                                            %>
                                                                                            <img class="menu-image__settings cancelToSelect"
                                                                                                src="<%= image %>"
                                                                                                alt="<%= title %>">
                                                                                            <% } else { %>
                                                                                                <img class="menu-image__settings cancelToSelect"
                                                                                                    src="<%= image %>"
                                                                                                    alt="<%= title %>">
                                                                                                <div
                                                                                                    class="menu-card__add cancelToSelect">
                                                                                                    <i class="minus fa-solid fa-minus fa-lg minus-icon"
                                                                                                        style="display: none;"></i>
                                                                                                    <div class="counter"
                                                                                                        style="display: none;">
                                                                                                        <span
                                                                                                            class="count">0</span>
                                                                                                    </div>
                                                                                                    <i
                                                                                                        class="plus fa-solid fa-plus fa-lg plus-icon"></i>
                                                                                                </div>
                                                                                                <% } %>
                                                                                                    <% } else { %>
                                                                                                        <img class="menu-image__settings cancelToSelect"
                                                                                                            src="<%= image %>"
                                                                                                            alt="<%= title %>">
                                                                                                        <div
                                                                                                            class="menu-card__add cancelToSelect">
                                                                                                            <i class="minus fa-solid fa-minus fa-lg minus-icon"
                                                                                                                style="display: none;"></i>
                                                                                                            <div class="counter"
                                                                                                                style="display: none;">
                                                                                                                <span
                                                                                                                    class="count">0</span>
                                                                                                            </div>
                                                                                                            <i
                                                                                                                class="plus fa-solid fa-plus fa-lg plus-icon"></i>
                                                                                                        </div>
                                                                                                        <% } %>
                                                                                </a>
                                                                                <% } else { %>
                                                                                    <div
                                                                                        class="menu-card cancelToSelect">
                                                                                        <div
                                                                                            class="menu-card__information">
                                                                                            <div class="text-bold">
                                                                                                <h2
                                                                                                    class="menu-card__information-title">
                                                                                                    <%= title %>
                                                                                                </h2>
                                                                                                <p
                                                                                                    class="menu-card__information-ingredients">
                                                                                                    <%= ingredients %>
                                                                                                </p>
                                                                                            </div>
                                                                                            <div class="menu_id"
                                                                                                style="display: none;"
                                                                                                hidden>
                                                                                                <%= _id %>
                                                                                            </div>
                                                                                            <div
                                                                                                class="menu-card__information-price text-bold">
                                                                                                <span>
                                                                                                    <%= price %> KZT
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <% if (userLoggedIn) { %>
                                                                                            <% if (user.role==="admin" )
                                                                                                { %>
                                                                                                <img class="menu-image__settings cancelToSelect"
                                                                                                    src="<%= image %>"
                                                                                                    alt="<%= title %>">
                                                                                                <% } else { %>
                                                                                                    <img class="menu-image__settings cancelToSelect"
                                                                                                        src="<%= image %>"
                                                                                                        alt="<%= title %>">
                                                                                                    <div
                                                                                                        class="menu-card__add cancelToSelect">
                                                                                                        <i class="minus fa-solid fa-minus fa-lg minus-icon"
                                                                                                            style="display: none;"></i>
                                                                                                        <div class="counter"
                                                                                                            style="display: none;">
                                                                                                            <span
                                                                                                                class="count">0</span>
                                                                                                        </div>
                                                                                                        <i
                                                                                                            class="plus fa-solid fa-plus fa-lg plus-icon"></i>
                                                                                                    </div>
                                                                                                    <% } %>
                                                                                                        <% } else { %>
                                                                                                            <img class="menu-image__settings cancelToSelect"
                                                                                                                src="<%= image %>"
                                                                                                                alt="<%= title %>">
                                                                                                            <div
                                                                                                                class="menu-card__add cancelToSelect">
                                                                                                                <i class="minus fa-solid fa-minus fa-lg minus-icon"
                                                                                                                    style="display: none;"></i>
                                                                                                                <div class="counter"
                                                                                                                    style="display: none;">
                                                                                                                    <span
                                                                                                                        class="count">0</span>
                                                                                                                </div>
                                                                                                                <i
                                                                                                                    class="plus fa-solid fa-plus fa-lg plus-icon"></i>
                                                                                                            </div>
                                                                                                            <% } %>
                                                                                    </div>
                                                                                    <% } %>
                                                                                        <% } else { %>
                                                                                            <div
                                                                                                class="menu-card cancelToSelect">
                                                                                                <div
                                                                                                    class="menu-card__information">
                                                                                                    <div
                                                                                                        class="text-bold">
                                                                                                        <h2
                                                                                                            class="menu-card__information-title">
                                                                                                            <%= title %>
                                                                                                        </h2>
                                                                                                        <p
                                                                                                            class="menu-card__information-ingredients">
                                                                                                            <%= ingredients
                                                                                                                %>
                                                                                                        </p>
                                                                                                    </div>
                                                                                                    <div class="menu_id"
                                                                                                        style="display: none;"
                                                                                                        hidden>
                                                                                                        <%= _id %>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="menu-card__information-price text-bold">
                                                                                                        <span>
                                                                                                            <%= price %>
                                                                                                                KZT
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <% if (userLoggedIn) {
                                                                                                    %>
                                                                                                    <% if
                                                                                                        (user.role==="admin"
                                                                                                        ) { %>
                                                                                                        <img class="menu-image__settings cancelToSelect"
                                                                                                            src="<%= image %>"
                                                                                                            alt="<%= title %>">
                                                                                                        <% } else { %>
                                                                                                            <img class="menu-image__settings cancelToSelect"
                                                                                                                src="<%= image %>"
                                                                                                                alt="<%= title %>">
                                                                                                            <div
                                                                                                                class="menu-card__add cancelToSelect">
                                                                                                                <i class="minus fa-solid fa-minus fa-lg minus-icon"
                                                                                                                    style="display: none;"></i>
                                                                                                                <div class="counter"
                                                                                                                    style="display: none;">
                                                                                                                    <span
                                                                                                                        class="count">0</span>
                                                                                                                </div>
                                                                                                                <i
                                                                                                                    class="plus fa-solid fa-plus fa-lg plus-icon"></i>
                                                                                                            </div>
                                                                                                            <% } %>
                                                                                                                <% } else
                                                                                                                    { %>
                                                                                                                    <img class="menu-image__settings cancelToSelect"
                                                                                                                        src="<%= image %>"
                                                                                                                        alt="<%= title %>">
                                                                                                                    <div
                                                                                                                        class="menu-card__add cancelToSelect">
                                                                                                                        <i class="minus fa-solid fa-minus fa-lg minus-icon"
                                                                                                                            style="display: none;"></i>
                                                                                                                        <div class="counter"
                                                                                                                            style="display: none;">
                                                                                                                            <span
                                                                                                                                class="count">0</span>
                                                                                                                        </div>
                                                                                                                        <i
                                                                                                                            class="plus fa-solid fa-plus fa-lg plus-icon"></i>
                                                                                                                    </div>
                                                                                                                    <% }
                                                                                                                        %>
                                                                                            </div>
                                                                                            <% } %>
                                                                                                <% } %>
                                                                                                    <% }); %>
                                                                                                        <% } else { %>
                                                                                                            <%= displayNoItemsMessage()
                                                                                                                %>
                                                                                                                <% } %>
                                                        </div>

                                                    </article>
                                                    <% } %>

                                                        <section id="departments">
                                                            <% generateDepartment("gunkan", "Гункан" ) %>
                                                                <% generateDepartment("appetizers", "Закуски" ) %>
                                                                    <% generateDepartment("pizza", "Пицца" ) %>
                                                                        <% generateDepartment("sushi", "Роллы" ) %>
                                                                            <% generateDepartment("fried", "Роллы жаренные"
                                                                                ) %>
                                                                                <% generateDepartment("baked", "Роллы запеченные"
                                                                                    ) %>
                                                                                    <% generateDepartment("sets", "Сеты"
                                                                                        ) %>
                                                                                        <% generateDepartment("drinks", "Напитки"
                                                                                            ) %>
                                                        </section>
        </article>
        <div id="modal-background"></div>
        <div class="individual-menu-card">
            <div id="individual-menu-content"></div>
        </div>
        <%- include('./partials/footer.ejs') %>


            <!-- load -->

            <!-- <div id="loading-wrapper" class="loading-wrapper"></div>
            <script>
                $(window).on("load", function () {
                    setTimeout(function () {
                        $(".loading-wrapper").fadeOut("slow");
                    }, 1200)
                });
            </script> -->

            <!-- scripts -->

            <script src="/styles/navbar/navbar.js"></script>
            <script src="/styles/font-awesome/all.js"></script>
            <script src="/styles/article/search.js"></script>
            <script src="/styles/article/each_menu.js"></script>
            <script src="/styles/article/drawer.js"></script>
            <script src="/styles/article/counter.js"></script>
            <script src="/styles/article/card.js"></script>

</body>

</html>